.container {
  display: flex;
  width: 100%;
  height: 100vh;  
}

.list-wrap {
  flex: 0 0 31%;  
  overflow-y: auto;  
  overflow-x: hidden; 
  border-right: 1px solid #ccc; 
}

 
.list-wrap::-webkit-scrollbar {
  width: 8px;  
}

.list-wrap::-webkit-scrollbar-track {
  background: #f1f1f1;  
  border-radius: 10px;  
}
.list-wrap::-webkit-scrollbar-thumb {
  background: #888;  
  border-radius: 10px; 
}

.list-wrap::-webkit-scrollbar-thumb:hover {
  background: #555;  
}

.map-wrap {
  flex: 1;  
  position: relative;  
}

.map {
  width: 100%;
  height: 100%;
  position: absolute;  
}
