
    <div class="profile-card-1">
        <div class="img">
            <img src="assets/achref.png"/>
        </div>
        <div class="view-more"  >
            <img src="assets/cafpiLogo.png" alt="Custom Logo" class="custom-logo" width="35%">
        </div>
    
    
    
        
    <div class="mid-section">
            <div class="name">{{employee.fullName}}</div>
            <div class="description">{{employee.job}}</div>
            <div class="line"></div>
            <div class="contact">   
            <div class="subtext phone"> <i class="fa fa-phone"></i>{{employee.phoneNumber}}</div>
            <div class="subtext email">   <i class="fa fa-envelope"></i>{{employee.email}}</div>
            </div>
    </div>
        