.card {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease, margin-bottom 0.3s ease;
    margin: 5px;
    margin-left: 12px;
}

.tag {
    font-size: 14px;
    color: #777;
    margin-bottom: 8px;
}

.content {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: -10px; 
}

.text {
    flex-grow: 1;
}

.title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 14px;
    color: #555;
}

.badge {
    font-size: 12px;
    color: #fff;
    padding: 4px 8px;
    border-radius: 12px;
    margin-left: 16px;
    display: inline-block;
}

.badge-pill {
    border-radius: 50px;
}

.badge-ouvert {
    background-color: #4caf50;  
}

.badge-fermee {
    background-color: #f44336;  
}

.btn {
    background-color: #4caf50; 
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #3e8e41; /* Darker green on hover */
}

.btn-primary {
    background-color: #4caf50; /* Green button */
}

.btn-sm {
    padding: 4px 8px;
    font-size: 12px;
}

.content-link {
    display: block; 
    text-decoration: none; 
    color: inherit;  
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 32px;  
}

.card-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.card:hover + .card,
.card:hover ~ .card {
    transform: translateY(20px); 
    transition: transform 0.3s ease;
}
.details-button {
  
    top: 50%;
    left: 10px;
 
}

.details-button button {
    background-color: #f18100d2;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
 
}

.details-button button:hover {
 
    transform: scale(1.05);
}

 