<div class="card" (click)="onCardClick()" id={{agency.id}}>
  
    <div class="content">
      <img src="assets/capfiBackGround.png" alt="F2K BATI Logo" width="65" height="65" class="logo">
      <div class="text">
        <div class="title">{{ agency.zone }} <span class="badge badge-pill" [ngClass]="isOpen ? 'badge-ouvert' : 'badge-fermee'"> {{ isOpen ? 'Ouvert' : 'Fermé' }} </span></div>
        <div class="subtitle">{{ agency.address }}</div>
      </div>
      <div class="details-button">
        <button (click)="onButtonClick()">Details</button>
    </div>
 
  </div>
</div>
 