.form-container {
    display: flex;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-family: 'Roboto', sans-serif; /* Improved font */
  }
  .header {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  .header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 16px;
    color: #666;
    margin: 0;
  }
  .stepper {
    width: 25%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align labels to the top */
    padding-right: 20px;
    border-right: 2px solid #ddd; /* Add vertical line */
  }
  
  .step {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #000; /* Default color black */
    transition: color 0.3s ease-in-out;
  }
  
  .step-number {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: bold; /* Bolder font for step number */
  }
  
  .step.active {
    color: #007bff; /* Change color to blue when selected */
    background-color: #e7f1ff;
    font-weight: bold;
  }
  
  form {
    width: 75%;
    padding-left: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }
  
  input[type="text"],
  textarea,
  select {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px; /* Improve font size */
    font-family: 'Roboto', sans-serif;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif; /* Improved button font */
  }
  
  .back-button {
    background-color: #ccc;
    color: #fff;
  }
  
  .next-button, .submit-button {
    background-color: #007bff;
    color: #fff;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .toggle-label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  input[type="tel"]
   {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px; /* Improve font size */
    font-family: 'Roboto', sans-serif;
  }
  