<div class="header">
    <h1>Registry Agency</h1>
    <p class="description">Please fill out the following details to configure the agency settings.</p>
  </div>
<div class="form-container">
 
    <div class="stepper">
      <div class="step" *ngFor="let step of steps; let i = index" (click)="goToStep(i)" [class.active]="currentStep === i">
            {{step.label}}
      </div>
    </div>
  
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <div *ngIf="currentStep === 0">
      
  
      
  
        <label for="name">email</label>
        <input id="email" formControlName="email" type="text" />

        <label for="phone">Phone Number:</label>
        <input id="phone" type="tel" name="phone"  formControlName="zone"  pattern="[0-9]{10}" required />
      
        <label for="zone"> zone</label>
        <input id="zone" formControlName="zone" type="text" />

        <label for="comune">commune</label>
        <input id="comune" formControlName="commune" type="text"/> 

        <label for="address">address</label>
        <input id="address" formControlName="address" type="text" /> 
        <label for="description">Description</label>
        <textarea id="description" formControlName="description">  </textarea> 
        <div class="file-upload-wrapper">
          <label for="image" class="custom-file-upload">
            <i class="fas fa-cloud-upload-alt"></i> Upload Agency Image
          </label>
          <input type="file" id="image" (change)="onFileSelected($event)" />
          <span class="file-name" *ngIf="selectedFileName">{{ selectedFileName }}</span>
        </div> 
    
  


 
      </div>
  
      <div *ngIf="currentStep === 1"> 
        <table class="schedule-table" *ngIf="scheduleFormGroup" [formGroup]="scheduleFormGroup">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Morning Session</th>
                    <th>Evening Session</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let day of days" [formGroupName]="day">
                    <td>{{ day }}</td>
                    <td [formGroupName]="'morningSession'"> 
                        <div class="time-input-group">
                        <input type="time" formControlName="from"  >
                        <span class="devider">to</span>
                        <input type="time" formControlName="to"  >
                        </div>
                    </td>
                    <td [formGroupName]="'eveningSession'"> 
                        <div class="time-input-group">
                        <input type="time" formControlName="from"  >
                        <span class="devider">to</span>
                        <input type="time" formControlName="to"  >
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>  

    <div *ngIf="currentStep === 2"> 
      <app-map (dataEvent)="onLocationSelected($event)"></app-map>
    </div> 
    

    
    <div *ngIf="currentStep === 3">  


      <label for="fullNameMa">fullName</label>
      <input id="fullNameMa" formControlName="fullNameMa" type="text" />

      <label for="phone">Phone Number:</label>
      <input id="phoneM" type="tel" name="phoneM"  formControlName="phoneM"  pattern="[0-9]{10}"   />
    
      <label for="emailM">email</label>
      <input id="emailM" formControlName="emailM" type="text" />

     
      <label for="jobM">job</label>
      <input id="jojobMb" formControlName="jobM" type="text" />

      <div class="file-upload-wrapper">
        <label for="imaged" class="custom-file-upload">
          <i class="fas fa-cloud-upload-alt"></i> Upload manafer Image
        </label>
        <input type="file" id="imaged" (change)="onManagerSelected($event)" />
        <span class="file-name" *ngIf="selectedFileName">{{ selectedFileName }}</span>
      </div> 
  
  

      </div>


    
    <div *ngIf="currentStep === 4">  


      <label for="fullName">fullName</label>
      <input id="fullName" formControlName="fullName" type="text" />

      <label for="phone">Phone Number:</label>
      <input id="phoneE" type="tel" name="phoneE"  formControlName="phoneE"  pattern="[0-9]{10}"   />
    
      <label for="name">email</label>
      <input id="emailE" formControlName="emailE" type="text" />

     
      <label for="job">job</label>
      <input id="job" formControlName="job" type="text" />  
      <div class="file-upload-wrapper">
        <label for="imaged" class="custom-file-upload">
          <i class="fas fa-cloud-upload-alt"></i> Upload emlpoyee Image
        </label>
        <input type="file" id="imaged" (change)="onEmployeeImageSelected($event)" />
        <span class="file-name" *ngIf="selectedFileName">{{ selectedFileName }}</span>
      </div> 
  

      <button type="button" class="next-button" (click)="addEmployee()">Add Employee</button>
      <div class="employee-cards-container">
      <div *ngFor="let employee of employees; let i = index" class="employee-card">
        <p>{{ employee.fullName }} - {{ employee.job }}</p>
        <p>{{ employee.phoneNumber }}</p>
        <p>{{ employee.email }}</p> 
 
        <button type="button" (click)="removeEmployee(i)">X</button>
      </div>

      </div>
    </div>



 
  
      <div class="buttons">
        <button type="button" class="back-button" (click)="previousStep()" [disabled]="currentStep === 0">Back</button>
        <button type="button" class="next-button" (click)="nextStep()" *ngIf="currentStep < steps.length - 1">Next</button>
        <button type="submit" class="submit-button" *ngIf="currentStep === steps.length - 1">Submit</button>
      </div>
    </form>
 
  </div>
  