<div class="container">
 
    <div class="agency-header">    <i class="fas fa-arrow-left back-icon"  (click)="goBack()" ></i> L'agence CAFPI {{agencyDetails.commune}} </div>
    <div class="agency-info">
        <img src="https://images.thebusinessplanshop.com/2225/creer-agence-communication.jpg" alt="Agency Image" width="300" height="200">
        <div class="agency-details">
            <h4>{{agencyDetails.address}}</h4>
            <div class="icon">
                <i class="fas fa-phone-alt"></i>
                <p>{{agencyDetails.phoneNumber}}</p>
            </div>
        
        
        </div>
    </div>
    <div class="opening-hours">
        <div *ngFor="let day of daysOfWeek">
          <h4>{{ day }}</h4>
          <p>{{ getOpeningHours(day, 'morningSession') }}</p>
          <p>{{ getOpeningHours(day, 'eveningSession') }}</p>
        </div>
      </div>
    </div>